{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>

                    {% if aUser is defined %}
                    Hola, {{ aUser.name }}
                    {% endif %}
                </p>
            </div>


        </div>
    </div>
{% endblock %}




